{% extends 'base.html' %}

{% block title %}{{ t('login') }}{% endblock %}

{% block content %}
    <h1>{{ t('login') }}</h1>
    <form method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">{{ t('password') }}</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">{{ t('submit') }}</button>
    </form>
{% endblock %}
