{% extends 'base.html' %}
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Главная</a></li>
        {% if 'user_id' in session %}
            <li><a href="{{ url_for('profile') }}">Профиль</a></li>
            <li><a href="{{ url_for('dashboard') }}">Управление новостями</a></li>
            <li><a href="{{ url_for('logout') }}">Выйти</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Войти</a></li>
            <li><a href="{{ url_for('register') }}">Регистрация</a></li>
        {% endif %}
    </ul>
</nav>
